.container {
  width: 100%;
  height: 500vh;
  position: absolute;
  background-color: white;
  overflow: hidden;
  z-index: 0;
}

.noise {
  opacity: 0.1;
  inset: -200%;
  width: 400%;
  height: 400%;
  position: absolute;
  background-size: 256px 256px;
  z-index: -10;
  background-repeat: repeat;
  background: url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png');
}